[Desktop Entry]
Encoding=UTF-8
Categories=Office
Exec=com-pake-zalo
Icon=com-pake-zalo
Name=com-pake-zalo
StartupNotify=true
Terminal=false
Type=Application
